<header class="header">
	<div class="intro-text">	
		{{> navigation}}
        {{> header}}
	</div>
</header>



<section class="project-section" id="project-section">
    {{#newData}}
         <section class="project-inner-section">            
            <div class="intro-text">
            <h1 class="header1 article-header"><span>{{title}}</span></h1>
			{{#if title2}}
            <h1 class="header1 article-header title2"><span>{{title2}}</span></h1>
			{{/if}}
            </div>
                <article>
                    <div class="article-image-container"  >
                    <img class="article-image" id="article-image" src="{{image}}"alt="picture of {{title}} mainpage"/>
                    </div>
                    <div class="article-content description">
                        <h4 class="article-headline">Description:</h4>
                        <p class="article-body">{{description}}</p>
                    </div>
                    <div class="article-content description">
                        <h4 class="article-headline">Technologies:</h4>
                        <p class="article-body">{{technology}}</p>
                    </div>
                    <div class="article-content">
                        <h4 class="article-headline">Find code on:</h4>
                        <a class="article-body" href="{{link}}">{{link}}</a>
                    </div>
					{{#if try}}
                        <div class="article-content">
                            <h4 class="article-headline">Explore on:</h4>
                            <a class="article-body" href="{{try}}">{{try}}</a>
                        </div>
			        {{/if}}
                </article>   
        </section>  
    {{/newData}}
</section>     
