        {{#projects}}
         <section>            
            <div class="intro-text">
            <h1 class="header1"><span>{{title}}</span></h1>
            </div>
                <article>
                    <div class="article-image-container"  >
                    <img class="article-image" src="{{image}}"/>
                    </div>
                    <div>
                        <h4 class="article-headline">Description:</h4>
                        <p class="article-body">{{description}}</p>
                    </div>
                    <div>
                        <h4 class="article-headline">Technologies:</h4>
                        <p class="article-body">{{technology}}</p>
                    </div>
                    <div>
                        <h4 class="article-headline">Find code on:</h4>
                        <p class="article-body">{{link}}</p>
                    </div>
                </article>
            </section>  
        {{/projects}}